@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #1f3d7a;
  --background-page: #f9f9f9;
}

.custom-card-shadow {
  box-shadow:
    0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.06);
}

body {
  background-color: var(--background-page);
}
